<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="app-container">
      <h1 class="theme-color">
        7 Day Records For <%= habitDetails.name.toUpperCase() %>
      </h1>
      <div class="record-list">
        <ul>
          <% for(let i of record_list) { %>
          <li>
            <span><%= i.date %></span>
            <span><%= i.day.toUpperCase() %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
