/* import font url */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

/* general styles used throughout the app */
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
button {
  border: none;
  outline: none;
  background: transparent;
}
::-webkit-scrollbar {
  display: none;
}
.capitalize {
  text-transform: capitalize;
}

/* different text color themes */
.theme-color {
  color: #46ec6a;
}
.white-color {
  color: white;
}
.blue-color {
  color: #054863;
}
.red-color {
  color: #ff0000c5;
}
.golden-color {
  color: #daa520ec;
}

/* background color themes */
.bg-grey {
  background: #d3d3d3de;
}
.bg-green {
  background: #37b946;
}
.bg-red {
  background: #db4545;
}

/* app container styles */
.app-container {
  display: inline-block;
  background: darkslategray;
  width: 40%;
  height: 95%;
  padding: 1rem;
}

/* new habit adding form styles  */
#habit-form input {
  color: #46ec6a;
  font-size: 1.5rem;
  width: 30%;
}
#habit-form input::placeholder {
  color: #46ec6a;
}
#habit-form input:focus::placeholder {
  color: transparent;
}
#habit-form button {
  background: #808080d8;
  color: #46ec6a;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* display all habits in li styles */
.habit-container ul {
  overflow-y: scroll;
  height: 90%;
}
.habit-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin: 0 1rem 0.1rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.habit-list-item:hover {
  background: #d3d3d38c;
  color: wheat;
}

/* display 7 day records in track habit page styles */
.record-list ul {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.record-list li {
  margin-right: 0.1rem;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
